# ===============================
# Create React App (CRA)
# ===============================

# dependencies
/node_modules
/frontend/node_modules

# testing
/coverage
/frontend/coverage

# production build
/build
/frontend/build

# misc configs
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local

# yarn and npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Plug'n'Play
.pnp*
